body { background: url("assets/bric.jpg") no-repeat scroll 90% 10px; }

h4 { font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif; }

h1, h4 {
    display: block;
    width: 980px;
    margin: 0 auto;
  }
  
  p, h2 {
    text-align: left;
  }

  a { color: #06c; }
  .ad { padding: 30px 0; text-align: center; }