/* StockTable.css */
.row.bg-primary { 
    background-color: #f0f9ff !important;
    color: #2281CF !important;
    border-top: #82cffa !important;
    cursor: pointer;
}

.sortable-column-text { margin-right: 2px; }
.sortable-column:hover .sortable-column-text {
    text-decoration: underline;
    cursor: pointer;
  }

.row.border:nth-child(even) {
    background-color: white;
}

.row.border:nth-child(odd) {
    background-color: #e5ecf9;
}

.row > .col, .row > [class*="col-"] {
    padding-top: 8px;
    padding-bottom: 8px;
}

.stock-table { font-size: 13px; } 
